/* componentes Ant Design */

/* Antes do upload */
.ant-upload {
    width: 100% !important;
    height: 250px !important;
}

/* Depois do upload */
.ant-upload-list-item {
    width: 500px !important;
    height: 250px !important;
}

/* Customizações para o Select do Ant Design */
.custom-select .ant-select-selection-placeholder {
    font-family: 'Nunito', sans-serif;
    color:#6B7280 !important;
}


